.item {
    list-style-type: none;
    width: 200px;
    height: 300px;
    display: inline-block;
    padding: 10px;
}

.item img {
    width: 100%;
    height: 90%;
    display: block;
    margin: 0 auto;
}

.shop-button {
    color: white;
    border: none;
    padding: 5px;
    width: 100%;
    margin: 10px auto 0 auto;
    background: #333;
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.goToTopBtn {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

.goToTopBtn:hover {
    background-color: #555;
}
